{% extends "hamgurga/base.html"%}
{%block main%}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="media/carusel/LC25eDtCT_1200x630__1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="media/carusel/0HXb0UR0v_1256x620__2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="media/carusel/como-preparar-carne-para-hamburguesa-1.jpg" class="d-block w-100" alt="hamburga pikachu">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

    
      <div class="col-lg-4">
        <img src="media/posts/573430c2-e0d5-4a3a-8815-0af6a622850f.jpg" height="144" width="144">
        <h2>Hamburga Mac</h2>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/post/2/detalle">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    
      <div class="col-lg-4">
        <img src="media/posts/pork.jpg" height="144" width="144">
        <h2>Hamburga Porky</h2>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/post/4/detalle">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ubicacion en Palermo</h2>
        <p class="lead">Costa Rica 4875, C1414 CABA</p>
      </div>
      <div class="col-md-5 order-md-1">
        
          <img src="media/carusel/maps.jpg" height="400" width="400">
        

      </div>
    </div>

    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Ubicacion Adrogue</h2>
        <p class="lead">Tomás Nother 771, B1846 Adrogué, Provincia de Buenos Aires</p>
      </div>
      <div class="col-md-5 order-md-1">
        
          <img src="media/carusel/maps2.png" height="400" width="400">
        

      </div>
    </div>

    


    <!-- /END THE FEATURETTES -->INDEX.

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="http://127.0.0.1:8000">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Terms</a></p>
  </footer>
</main>
{% endblock%}